NewTrueSharpSwordAPI/resourcen/Untitled1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Snowbird (wtg) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="mirror">
		<xs:complexType>
			<xs:attribute name="location" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Amsterdam"/>
						<xs:enumeration value="AtlantaGA"/>
						<xs:enumeration value="Curitiba-Brazil"/>
						<xs:enumeration value="Duesseldorf-Germany"/>
						<xs:enumeration value="Irland"/>
						<xs:enumeration value="Ishikawa-Japan"/>
						<xs:enumeration value="Keihanna-Japan"/>
						<xs:enumeration value="Lausanne-Switzerland"/>
						<xs:enumeration value="McLean-Virginia"/>
						<xs:enumeration value="Moscow-Russia"/>
						<xs:enumeration value="Nordamerika"/>
						<xs:enumeration value="Paris-France"/>
						<xs:enumeration value="Saint-Petersburg-Russia"/>
						<xs:enumeration value="Seattle-Washington"/>
						<xs:enumeration value="Switzerland"/>
						<xs:enumeration value="Sydney-Australien"/>
						<xs:enumeration value="Tainan-Taiwan"/>
						<xs:enumeration value="University-of-Kent-UK"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="subdomain" type="xs:string" use="required"/>
			<xs:attribute name="suffix" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mirrors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mirror" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="urlinfix" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="module">
		<xs:complexType>
			<xs:attribute name="filename" type="xs:string" use="required"/>
			<xs:attribute name="identifier" type="xs:string" use="required"/>
			<xs:attribute name="lang" type="xs:string" use="required"/>
			<xs:attribute name="language" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="revision" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="bible"/>
						<xs:enumeration value="dictionary"/>
						<xs:enumeration value="s-dictionary"/>
						<xs:enumeration value="x-quran"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="modules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="module" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="repository">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="modules"/>
				<xs:element ref="mirrors"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="server" type="xs:anyURI"/>
	<xs:element name="zefania-modules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="zefania-modules-list-servers"/>
				<xs:element ref="repository"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="zefania-modules-list-servers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="server"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
