trunk/BibleMarkUpSchema/zef2005.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="XMLBIBLE">

		<xsd:annotation>
			<xsd:documentation>Das Wurzelelement einer Zefania XML Bibel</xsd:documentation>
			<xsd:appinfo>version:2.0.0.2</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence maxOccurs="1">
				<xsd:element ref="INFORMATION"/>
				<xsd:element ref="BIBLEBOOK" maxOccurs="unbounded"/>
				<xsd:element ref="APPINFO" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute type="xsd:string" use="required" name="biblename">
				<xsd:annotation>
					<xsd:documentation>Der Name der Bibel z.B. Luther 1984</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="status" type="enumStatus" use="optional">
				<xsd:annotation>
					<xsd:documentation>Status des XML Moduls</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="version" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Version der Bible Markup Language</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="revision" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation>Berarbeitungsstand des Moduls</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="type" type="enumModtyp" use="optional" default="x-bible">
				<xsd:annotation>
					<xsd:documentation>Typ des Moduls christlich oder anderes</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="content" type="enumContent" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TRANSLATION">
		<xsd:complexType mixed="true">
			<xsd:attribute name="ID" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element><xsd:element name="APPINFO">
		<xsd:complexType mixed="true">
			<xsd:choice maxOccurs="unbounded">
			  <xsd:element ref="TRANSLATION"/>
			</xsd:choice>

			<xsd:attribute name="client"/>
			<xsd:attribute name="version"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BIBLEBOOK">
		<xsd:annotation>
			<xsd:documentation>Markiert die Grenzen eines Bibelbuches</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="CHAPTER" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:attribute name="bnumber" type="Tvref" use="required"/>
			<xsd:attribute name="bname" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Der Buchname lang z.B. Genesis</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="bsname" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Der Buchname kurz z.B. Gen</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CHAPTER">
		<xsd:annotation>
			<xsd:documentation>Markiert die Grenzen eines Bibelkapitels</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="1" maxOccurs="unbounded">
				<xsd:element ref="PROLOG" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CAPTION" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="VERS" maxOccurs="unbounded"/>
				<xsd:element ref="REMARK" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="XREF" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="MEDIA" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:attribute name="cnumber" type="Tvref" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="VERS">
		<xsd:annotation>
			<xsd:documentation>Markiert die Grenzen eines Bibelverses</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="GRAM" minOccurs="0"/>
				<xsd:element ref="STYLE" minOccurs="0"/>
				<xsd:element ref="DIV" minOccurs="0"/>
				<xsd:element ref="BR" minOccurs="0"/>
				<xsd:element ref="SUP" minOccurs="0"/>
			</xsd:choice>
			<xsd:attribute name="vnumber" type="Tvref" use="required"/>
			<xsd:attribute name="enumber" type="Taix" use="optional"/>
			<xsd:attribute name="aix" type="Taix" use="optional"/>
			<xsd:attribute name="pfr" type="xsd:boolean"/>
			<xsd:attribute name="pa" type="Tvref" use="optional"/>
			<xsd:attribute name="rw" type="Tvref" use="optional"/>
			<xsd:attribute name="id" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PROLOG">
		<xsd:annotation>
			<xsd:documentation>Markiert die Grenzen eines Vorwortes</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="STYLE" minOccurs="0"/>
				<xsd:element ref="GRAM" minOccurs="0"/>
			</xsd:choice>
			<xsd:attribute name="vref" type="Tvref" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MEDIA" type="TMedia"/>
	<xsd:element name="CAPTION">
		<xsd:annotation>
			<xsd:documentation>Markiert eine Überschrift</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="STYLE" minOccurs="0"/>
				<xsd:element ref="GRAM" minOccurs="0"/>
			</xsd:choice>
			<xsd:attribute name="vref" type="Tvref" use="required"/>
			<xsd:attribute name="type" type="enumCaptionType" use="optional">
				<xsd:annotation>
					<xsd:documentation>header levelEnumeration x-h1 bis x-h6</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="mscope" type="TScope" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="REMARK">
		<xsd:annotation>
			<xsd:documentation>Markiert eine Anmerkung</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="STYLE" minOccurs="0"/>
				<xsd:element ref="GRAM" minOccurs="0"/>
			</xsd:choice>
			<xsd:attribute name="vref" type="xsd:anyURI" use="required"/>
			<xsd:attribute name="art" type="enumRemark" use="optional"/>
			<xsd:attribute name="aix" type="Taix" use="optional"/>
			<xsd:attribute name="mscope" type="TScope" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NOTE">
		<xsd:annotation>
			<xsd:documentation>Markiert eine eingebaute Notiz</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="STYLE" minOccurs="0"/>
				<xsd:element ref="GRAM" minOccurs="0"/>
			</xsd:choice>
			<xsd:attribute name="type" type="enumNoteTypes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="XREF">
		<xsd:annotation>
			<xsd:documentation>Markiert Querverweise</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute name="vref" type="Tvref" use="required"/>
			<xsd:attribute name="aix" type="Taix" use="optional"/>
			<xsd:attribute name="type" type="enumXrefs" use="required"/>
			<xsd:attribute name="title"/>
			<xsd:attribute name="fscope" type="xsd:string"/>
			<xsd:attribute name="mscope" type="TScope" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GRAM">
		<xsd:annotation>
			<xsd:documentation>Markiert grammatische Informationen</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice maxOccurs="unbounded" minOccurs="0">
				<xsd:element ref="GRAM"/>
				<xsd:element ref="STYLE"/>
			</xsd:choice>
			<xsd:attribute name="woa" use="optional">
				<xsd:annotation>
					<xsd:documentation>Die Wortart</xsd:documentation>
				</xsd:annotation>
				<!--Die Wortart-->
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="g-subst">
							<xsd:annotation>
								<xsd:documentation>Substantiv</xsd:documentation>
							</xsd:annotation>
							<!--Substantiv-->
						</xsd:enumeration>
						<xsd:enumeration value="g-adj">
							<xsd:annotation>
								<xsd:documentation>Adjektiv</xsd:documentation>
							</xsd:annotation>
							<!--Adjektiv-->
						</xsd:enumeration>
						<xsd:enumeration value="g-verb">
							<xsd:annotation>
								<xsd:documentation>Verb</xsd:documentation>
							</xsd:annotation>
							<!--Verb-->
						</xsd:enumeration>
						<xsd:enumeration value="g-art">
							<xsd:annotation>
								<xsd:documentation>Artikel</xsd:documentation>
							</xsd:annotation>
							<!--Artikel-->
						</xsd:enumeration>
						<xsd:enumeration value="g-pro">
							<xsd:annotation>
								<xsd:documentation>Pronomen</xsd:documentation>
							</xsd:annotation>
							<!--Pronomen-->
						</xsd:enumeration>
						<xsd:enumeration value="g-adv">
							<xsd:annotation>
								<xsd:documentation>Adverb</xsd:documentation>
							</xsd:annotation>
							<!--Adverb-->
						</xsd:enumeration>
						<xsd:enumeration value="g-pre">
							<xsd:annotation>
								<xsd:documentation>Preposition</xsd:documentation>
							</xsd:annotation>
							<!--Preposition-->
						</xsd:enumeration>
						<xsd:enumeration value="g-par">
							<xsd:annotation>
								<xsd:documentation>Partikel</xsd:documentation>
							</xsd:annotation>
							<!--Partikel-->
						</xsd:enumeration>
						<xsd:enumeration value="g-konj">
							<xsd:annotation>
								<xsd:documentation>Konjunktion</xsd:documentation>
							</xsd:annotation>
							<!--Konjunktion-->
						</xsd:enumeration>
						<xsd:enumeration value="g-num">
							<xsd:annotation>
								<xsd:documentation>Numerale</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="grc-verb">
							<!--Verb-->
						</xsd:enumeration>
						<xsd:enumeration value="grc-subst">
							<!--Substantiv-->
						</xsd:enumeration>
						<xsd:enumeration value="grc-adj">
							<!--Adjektiv-->
						</xsd:enumeration>
						<xsd:enumeration value="grc-art">
							<!--Artikel-->
						</xsd:enumeration>
						<xsd:enumeration value="grc-pro">
							<!--Pronomen-->
						</xsd:enumeration>
						<xsd:enumeration value="grc-adv">
							<!--Adverb-->
						</xsd:enumeration>
						<xsd:enumeration value="grc-pre">
							<!--Preposition-->
						</xsd:enumeration>
						<xsd:enumeration value="grc-par">
							<!--andere Partikel-->
						</xsd:enumeration>
						<xsd:enumeration value="grc-konj">
							<!--Konjunktion-->
						</xsd:enumeration>
						<xsd:enumeration value="grc-subj">
							<!--Subjunktionen-->
						</xsd:enumeration>
						<xsd:enumeration value="grc-num"/>
						<!--Numerale-->


						<xsd:enumeration value="grc-int">
							<!--interjektionen-->
						</xsd:enumeration>
						<xsd:enumeration value="grc-neg">
							<!--Negationen-->
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="gen" use="optional">
				<xsd:annotation>
					<xsd:documentation>Das grammatikalische Geschlecht</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="g-mask">
							<xsd:annotation>
								<xsd:documentation>Maskulinum</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="g-fem">
							<xsd:annotation>
								<xsd:documentation>Femininum</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="g-neut">
							<xsd:annotation>
								<xsd:documentation>Neutrum</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>

						<xsd:enumeration value="grc-mask"/>
						<!--Maskulinum/Maennlich-->
						<xsd:enumeration value="grc-fem"/>
						<!--Femininum/Weiblich-->
						<xsd:enumeration value="grc-neut"/>
						<!--Neutrum/Saechlich-->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="kas" use="optional">
				<!--Der Fall-->
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="g-nom">
							<xsd:annotation>
								<xsd:documentation>Nominativ</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="g-akk">
							<xsd:annotation>
								<xsd:documentation>Akkusativ</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="g-dat">
							<xsd:annotation>
								<xsd:documentation>Dativ</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="g-gen">
							<xsd:annotation>
								<xsd:documentation>Genitiv</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="grc-nom"/>
						<!--Nominativ-->
						<xsd:enumeration value="grc-gen"/>
						<!--Genitiv-->
						<xsd:enumeration value="grc-dat"/>
						<!--Dativ-->
						<xsd:enumeration value="grc-akk"/>
						<!--Akkusativ-->
						<xsd:enumeration value="grc-vok"/>
						<!--Vokativ-->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="inf" use="optional" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Grundform/Lemma</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="tmp" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="g-pres">
							<xsd:annotation>
								<xsd:documentation>Presens</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="g-pret">
							<xsd:annotation>
								<xsd:documentation>Praeteritum</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="g-fut1">
							<xsd:annotation>
								<xsd:documentation>Futur 1</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="g-perf">
							<xsd:annotation>
								<xsd:documentation>Perfekt</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="g-plqp">
							<xsd:annotation>
								<xsd:documentation>Plusquamperfekt</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="g-fut2">
							<xsd:annotation>
								<xsd:documentation>Futur 2</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="grc-pres"/>
						<!--Praesens-->
						<xsd:enumeration value="grc-aor"/>
						<!--Aorist-->
						<xsd:enumeration value="grc-perf"/>
						<!--Perf-->
						<xsd:enumeration value="grc-fut"/>
						<!--Futur-->
						<xsd:enumeration value="grc-plqp"/>
						<!--Plusquamperfekt-->
						<xsd:enumeration value="grc-ipf"/>
						<!--Imperfekt-->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="prs" use="optional">
				<!--Person-->
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="grc-1"/>
						<!--1. Person-->
						<xsd:enumeration value="grc-2"/>
						<!--2. Person-->
						<xsd:enumeration value="grc-3"/>
						<!--3. Person-->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>


			<xsd:attribute name="diat" use="optional">
				<!--Diathese / Genus Verbi-->
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="grc-akt"/>
						<!--Aktiv-->
						<xsd:enumeration value="grc-med"/>
						<!--Medium-->
						<xsd:enumeration value="grc-pass"/>
						<!--Passiv-->
						<xsd:enumeration value="grc-mp"/>
						<!--Mediopassiv-->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="sta" type="xsd:string" use="optional"/>
			<xsd:attribute name="mod" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="g-ind">
							<xsd:annotation>
								<xsd:documentation>Indikativ</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="g-konj">
							<xsd:annotation>
								<xsd:documentation>Konjunktiv</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="g-imp">
							<xsd:annotation>
								<xsd:documentation>Imperativ</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="grc-ind"/>
						<!--Indikativ-->
						<xsd:enumeration value="grc-konj"/>
						<!--Konjunktiv-->
						<xsd:enumeration value="grc-imp"/>
						<!--Imperativ-->
						<xsd:enumeration value="grc-opt"/>
						<!--Optativ-->
						<xsd:enumeration value="grc-inf"/>
						<!--Infinitiv-->
						<xsd:enumeration value="grc-ptz"/>
						<!--Partizip-->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="str" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Strongnummer</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="rmac" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Robinsons Morphological Analysis Codes</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="STYLE" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Markiert css-Formatierungen.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="STYLE"/>
				<xsd:element ref="GRAM"/>
			</xsd:choice>
			<xsd:attribute name="css" type="Tcss" use="required">
				<xsd:annotation>
					<xsd:documentation>css-String</xsd:documentation>
					<xsd:documentation>http://www.css4you.de/</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ID" type="TStyleID" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SUP">
		<xsd:annotation>
			<xsd:documentation>Markiert eine Höher/Tieferstellung</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="art" type="enumSup" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DIV">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NOTE"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR">
		<xsd:complexType>
			<xsd:attribute name="art" type="enumBreak" use="required"/>
			<xsd:attribute name="count" type="Tvref" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="INFORMATION">
		<xsd:annotation>
			<xsd:documentation>vergl:http://dublincore.org/documents/dces/</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="title" minOccurs="1" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Titel des Moduls</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="creator" type="xsd:string" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Der Hersteller des Moduls</xsd:documentation>
						<xsd:documentation>Im Falle mehrerer Personen / Organisationen ist jede weitere in einem zusätzlichen Meta-Element aufzuführen.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="description" type="xsd:string" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Eine Beschreibung des Inhaltes</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="publisher" type="xsd:string" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Die Vertriebsorganisation des ModulsVerleger, Herausgeber, Universität etc</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="subject" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Notationen zum Thema des Dokuments, mehrere getrennt durch ","</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="contributors" type="xsd:string" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Name von weiteren beteiligten Personen/Institutionen/Gruppen</xsd:documentation>
						<xsd:documentation>Zusätzliche Person(en) und Organisation(en) zu jenen, die im Element CREATOR genannt wurden, die einen bedeutsamen intelektuellen Beitrag zur Ressource geleistet haben, deren Beitrag aber sekundär im Verhältnis zu denen im Element CREATOR zu betrachten ist.</xsd:documentation>

						<xsd:documentation>Im Falle mehrerer Personen / Organisationen ist jede weitere in einem zusätzlichen Meta-Element aufzuführen.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="date" type="xsd:date">
					<xsd:annotation>
						<xsd:documentation>Das Datum Format:YYYY-MM-DD</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="type" type="xsd:string" maxOccurs="1" minOccurs="0"/>
				<xsd:element name="format" type="xsd:string" minOccurs="1" fixed="Zefania XML Bible Markup Language">
					<xsd:annotation>
						<xsd:documentation>Datentechnisches Format des Moduls</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="identifier" type="xsd:string" minOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Kennung, die das Modul eindeutig identifiziert</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="source" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Werk, gedruckt oder elektronisch, aus dem das vorliegende Dokument stammt</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="language" type="xsd:string" minOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Sprache des Inhalts des Moduls</xsd:documentation>
						<xsd:documentation>Sprache(n) des intellektuellen Inhalts der Ressource. Falls möglich sollte der 3-stellige Sprachcode für "geschriebene Sprachen" aus ISO 639 verwendet werden.http://www.w3.org/WAI/ER/IG/ert/iso639.htm</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="coverage" type="xsd:string" minOccurs="0"/>
				<xsd:element name="rights" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Vorgesehen für den Inhalt dieses Elements ist ein Link (URL oder andere passende URI falls zutreffend) zu einem Urhebervermerk, ein "Rights-Management"-Vermerk über die rechtlichen Bedingungen oder ggf. zu einem Server, der solche Informationen dynamisch erzeugt.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="gr" substitutionGroup="GRAM"/>


	<xsd:complexType name="TMedia">
		<xsd:attribute name="title" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>Titel der Mediendatei</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="type" type="enumMedia">
			<xsd:annotation>
				<xsd:documentation>audio/video oder ein Bild</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="Tvref">
		<xsd:restriction base="xsd:positiveInteger">
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Taix">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Tcss">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TScope">
		<xsd:annotation>
			<xsd:documentation>Bibelstellennotation siehe: 
		http://forum.mybible.de/viewtopic.php?p=3495</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{1,3}-\d{1,3};\d{1,3}-\d{1,3};\d{1,3}-\d{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TStyleID">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="speaker:[a-zA-Z]*|user:[a-zA-Z]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumSup">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="x-sup">
				<xsd:annotation>
					<xsd:documentation>Höherstellung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="x-sub">
				<xsd:annotation>
					<xsd:documentation>Tieferstellung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="v">
				<xsd:annotation>
					<xsd:documentation>Modul ist valid gegen Schema</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="w">
				<xsd:annotation>
					<xsd:documentation>Modul ist wellformed</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumMedia">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="m-video"/>
			<xsd:enumeration value="m-audio"/>
			<xsd:enumeration value="m-picture"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="enumBreak">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="x-nl">
				<xsd:annotation>
					<xsd:documentation>Neue Zeile (new line)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="x-p">
				<xsd:annotation>
					<xsd:documentation>Neuer Absatz</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumRemark">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="x-foot">
				<xsd:annotation>
					<xsd:documentation>Anmerkung ist eine Fußnote</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="x-com">
				<xsd:annotation>
					<xsd:documentation>Allgemeine Anmerkung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumModtyp">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="x-bible">
				<xsd:annotation>
					<xsd:documentation>christliche Bibel</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="x-quran">
				<xsd:annotation>
					<xsd:documentation>Korantext</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="x-other">
				<xsd:annotation>
					<xsd:documentation>nicht bekannte Zuordnung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="x-cult">
				<xsd:annotation>
					<xsd:documentation>Kult allgemein</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="x-commentary">
				<xsd:annotation>
					<xsd:documentation>Das Modul beinhaltet Kommentare</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="x-parallel"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumContent">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="x-catholic">
				<xsd:annotation>
					<xsd:documentation>Bibeltext katholisch</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="x-protestant">
				<xsd:annotation>
					<xsd:documentation>Bibeltext protestantisch</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="x-other">
				<xsd:annotation>
					<xsd:documentation>Text nicht klassifiziert</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="x-addon">
				<xsd:annotation>
					<xsd:documentation>Modul enthält eine Auswahl mit Style-Element markierter Verse.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumNoteTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="x-studynote"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumCaptionType">
		<xsd:annotation>
			<xsd:documentation>Aufzählung für Überschriftenlevel</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="x-h1"/>
			<xsd:enumeration value="x-h2"/>
			<xsd:enumeration value="x-h3"/>
			<xsd:enumeration value="x-h4"/>
			<xsd:enumeration value="x-h5"/>
			<xsd:enumeration value="x-h6"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="enumXrefs">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="x-mscope"/>

			<xsd:enumeration value="x-fscope"/>
			<xsd:enumeration value="x-direct"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>